body {
	padding: 10px;
	background: beige;
	font-family:Arial,Helvetica,sans-serif;
	text-align: center; 
	}

.nav li {
	float:none;
	display:inline-block;
	text-align: center;
	text-transform: uppercase;
	}

a {
	font-weight: bold;
}

hr {
	font-weight: bold;
	color:black;
}


.aboutme p{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 22px;
	text-align: left;
}

.aboutme {
	padding-left:300px;
	padding-right:300px;
    margin: 30px;

}

.aboutme h1 {
	font-weight: bold;
	color: blue;
}

.warning h3 {
	color:red;
	font-weight: bold;
}


.contactme h1 {
	font-family:Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: blue;
}

.contactme p {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 22px;
}

.virtualprint h1 {
	font-family:Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: blue;
}

.virtualprint p {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 22px;
}