


body {
	
	background: beige;
	font-family:Arial,Helvetica,sans-serif;
	text-align: center; 
	}

.nav li {
	float:none;
	display:inline-block;
	text-align: center;
	text-transform: uppercase;
	}

a {
	font-weight: bold;
}